footer {
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-align: center;
    padding: var(--spacing);
}

footer a {
    color: var(--bg-color);
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}